body{
    background-color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: content-box;
}

.modal {
    z-index: 1;
    display: none;
    padding-top: 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    /* background-color: rgba(0, 0, 0, 0.027); */
    

}

.modal-content {
    margin: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
}

.modal-hover-opacity {
    opacity: 1;
    filter: alpha(opacity=100);
}

.close {
    text-decoration: none;
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: white
}

.container1 {
    width: 500px;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;

}
div.container1{
    text-align: center;
    padding: 10px 20px;
}

.modal-content,
#caption {

    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}


@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.imagepost{
    border: 1px solid;
    width: 50%;
    height: auto;
} 
.imagepost .desc{
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 4px 0 rgba(0,  0,0, 3);

}
*{
    box-sizing:border-box
}
.responsive{
    padding:6px;
    float:left;
    width: 24.99999%;

}
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 60%;
    }
  }
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

.form{
    width: 20%;
    background-color: honeydew;
    box-sizing:content-box;
   
    
}
