 /* body {
     background-color: white;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     box-sizing: content-box;

 }

 .modal-content {
     margin: auto;
     display: block;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: aliceblue;
 }


 .container1 {
     width: 500px;
     box-sizing: border-box;
     background-color: white;

 }

 div.container1 {
     text-align: center;
     padding: 10px 20px;
 }

 .modal-content,
 #caption {

     -webkit-animation-name: zoom;
     -webkit-animation-duration: 0.6s;
     animation-name: zoom;
     animation-duration: 0.6s;
 }


 @-webkit-keyframes zoom {
     from {
         -webkit-transform: scale(0)
     }

     to {
         -webkit-transform: scale(1)
     }
 }

 @keyframes zoom {
     from {
         transform: scale(0)
     }

     to {
         transform: scale(1)
     }
 }

 .imagepost {
     border: 1px solid;
     width: 50%;
     height: auto;
 }

 .imagepost .desc {
     padding: 10px 20px;
     text-align: center;
     box-shadow: 0 4px 0 rgba(0, 0, 0, 3);

 }

 * {
     box-sizing: border-box
 }

 .responsive {
     padding: 6px;
     float: left;
     width: 24.99999%;

 }



 .clearfix:after {
     content: "";
     display: table;
     clear: both;
 }

 .form {
     width: 20%;
     background-color: honeydew;
     box-sizing: content-box;


 }

 .password {
     text-align: left;
     padding: 5px;
     background-size: cover;
 } */