{%extends 'registration/base.html'%}
{% load bootstrap3%}
{% block content%}
<div class="post">
    <form action="{% url 'homepage'%}" method="post">
        {%csrf_token %}
        {% bootstrap_form imageform %}
        <input type="submit" value="Post">

    </form>

</div>

{% for new in  all_images%}

<div class=" container1 imagepost">
        <img src="{{new.image_photo.url}}" style="max-width:100%;cursor:pointer" width="300px" onclick="onClick(this)"
            class="modal-hover-opacity img-fluid">
</div>
<div id="modal01" class="modal" onclick="this.style.display='none'">
    <span class="close">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <div class="modal-content">
        <img id="img01" style="max-width:100%" class="img-fluid" width="500px">
        <p>{{new.image_photo}}</p>
        <p>{{new.image_name}}</p>
        <p>{{new.image_caption}}</p>



    </div>
</div>
{%endfor%}
{%endblock%}